{% extends 'base.html.twig' %}


{% block style %}
<link rel="stylesheet" href="../layouts/template.css">
<link rel="stylesheet" href="../components/criterions.css">
<link rel="stylesheet" href="../components/buttons.css">
<link rel="stylesheet" href="../components/form.css">
<link rel="stylesheet" href="../style/connection.css">
{% endblock style %}

{% block title %}
    Connectez-vous
{% endblock title %}

{% block content %}
<div class="page-inner">
    <h3 class="page-title">Connexion</h3>
    
    <div class="container-line">
        <form class="container1 shadow narrow-fade">
            <h1 class="form-bigtitle">Connectez-vous</h1>
            
            <div class="criterion" title="Champ requis">
                <input required name="email">
                <label>Adresse mail</label>
            </div>
            <div class="criterion" title="Champ requis">
                <input type="password" required name="mot-de-passe">
                <label>Mot de passe</label>
            </div>
            
            <div class="option-full">
                <input style="width:100%; height:50px;" type="submit" class="button blue hover-full" value="Se connecter">
            </div>
        </form>

        <div class="container1 shadow narrow-fade">
            <h1 class="form-bigtitle">Nouveau client ?</h1>
            
            <div class="option-full">
                <a href="" style="width:100%; height:50px;" class="button blue hover-full">Créer votre compte</a >
            </div>
        </div>
    </div>
</div>
{% endblock content %}

