{% extends 'base.html.twig' %}

{% from "components/address.html.twig" import card, add_card %}

{% block style %}
<link rel="stylesheet" href="../components/cards.css">
<link rel="stylesheet" href="../components/form.css">
<style>

.cards-container {
    display: flex;
    flex-wrap: wrap;
    
    padding: 16px;
}

.card1 {
    display: inline-block;
    
    position: relative;
    
    margin: 8px;
    box-sizing: border-box;
    padding: 16px;
    width: 256px;
    height: 192px;
    
    cursor: pointer;
}

@media only screen and (max-width: 304px) {
    .cards-container {
        
    }
    
    .card1 {
        margin: 0;
        border-style: solid;
        border-width: 1px 0;
        padding: 16px 0;
        width: 100%;
        
        box-shadow: none;
        border-color: black;
    }
}

</style>
{% endblock %}

{% block title %}Vos adresses{% endblock %}

{% block content %}
<h3 class="page-title">Vos adresses</h3>

<div class="cards-container">

    {% for address in address_array %}
        {{ card(address['name'], address['address'], address['city'], address['postal_code'], address['country']) }}
    {% endfor %}
        
    <a class="card1 full button blue shadow">Nouvelle adresse</a>
</div>
{% endblock %}

{% block script %}

{% endblock %}