{% extends "base.html.twig" %}

{% block style %}
<link rel="stylesheet" href="../components/form.css">
<link rel="stylesheet" href="../style/home.css">
{% endblock %}

{#
{% block content %}
<!DOCTYPE html>
<html>
    <body>
        {% block body %}
            <div class="slogan">
                <h1>MAKE THE WORLD GREAT IN UNISON</h1>
            </div>
        {% endblock %}
    </body>
</html>
#}

{% block head %}
    {{ parent() }}
    {#
    <style type="text/css">
        .important { color: #336699; }
    </style>
    #}
{% endblock %}
{% block content %}
{% block slogan %}
    <div class="slogan">
        <h1>MAKE THE WORLD GREAT IN UNISON</h1>
    </div>
{% endblock %}
    <div class="content">
        <div class="row1">
            <div class="a">
                {% block presentation %}
                    <div class="presentation shadow">
                        <h2 class="titre">POURQUOI ACHETER UNISON</h2>
                        <p class="explication">
                            Nos t-shirts sont à but caritatif, vous donnez à l'association que vous préférez dans notre sélection !<br>
                            Nous vous garantissons des t-shirts totalements éco-responsables, fabriqués en lin bio Français !<br>
                        </p>
                        <h2 class="titre">DANS QUEL BUT</h2>
                        <p class="explication">
                            Nous souhaitons vivre dans un monde plus propre et plus "humain", alors nous voulons proposer des vêtements qui respectent ces deux aspects en même temps.<br>
                            Voilà pourquoi le t-shirt UNISON vous permet de donner à votre association préférée sans avoir un impact négatif sur la planète !<br>
                        </p>
                        <div class="option-center">
                            <button class="btn btn-default full blue"
                                    type="button"
                                    role="button"
                                    onclick="location.href = ''">
                                    {#
                                    href="">
                                    #}
                                En savoir plus
                            </button>
                        </div>
                    </div>
                {% endblock %}
            </div>
            <div class="b">
                {% block nouveautes %}
                    <div class="nouveautes">
                    <h2>
                        <strong>Nouvelle collection</strong>
                    </h2>

                    <a href="">
                        <img src="tshirt_noir.jpg" alt="Nouvelle collection">
                    </a>
                    
                    <button class="btn btn-default full blue"
                            type="button"
                            role="button"
                            onclick="location.href = ''">
                        Achetez-moi
                    </button>
                    </div>
                {% endblock %}
            </div>
        </div>
    {% block selection %}
        <h1 class="titre-longueur">NOTRE SELECTION D'ASSOCIATIONS</h1>
        
    {% endblock %}
    {% block associations %}
        <div class="liste-associations">
            <div class="colonne top">
                <a><img src="../images/logos-transp/logo0.png"></a>
            </div>
            
            <div class="colonne bottom">
                <a><img src="../images/logos-transp/logo1.png"></a>
            </div>
            
            <div class="colonne top">
                <a><img src="../images/logos-transp/logo2.png"></a>
            </div>
            
            <div class="colonne bottom">
                <a><img src="../images/logos-transp/logo3.png"></a>
            </div>
            
            <div class="colonne top">
                <a><img src="../images/logos-transp/logo4.png"></a>
            </div>
            
            <div class="colonne bottom">
                <a><img src="../images/logos-transp/logo5.png"></a>
            </div>
            
            <div class="colonne top">
                <a><img src="../images/logos-transp/logo6.png"></a>
            </div>
            
            <div class="colonne bottom">
                <a><img src="../images/logos-transp/logo7.png"></a>
            </div>
            
            <div class="colonne top">
                <a><img src="../images/logos-transp/logo8.png"></a>
            </div>
            
            <div class="colonne bottom">
                <a><img src="../images/logos-transp/logo9.png"></a>
            </div>
        </div>
        {# METTRE LES IMAGES ET LES LIENS VERS LES PAGES DES DIFFERENTES ASSOCIATIONS #}
    {% endblock %}
    {% block soutenir %}
        {#  #}
        {% block soutenez %}
            <div class="soutenez">
                Soutenez leurs actions !
            </div>
        {% endblock %}
    {% endblock %}
        
        {% block fabrication %}
            <h1 class="titre-longueur">FABRICATION DES T-SHIRTS</h1>
            <div class="explicationfab">
                <div class="illustration">
                    <img src="../images/about_us/made-in-france.PNG">
                </div>
                <div class="texte">
                    <p>
                        Le lin est la fibre textile la plus écologique. La conversion des bassins liniers (la Normandie est le leader mondial du lin) à l’agriculture bio permettra d’améliorer la biodiversité, le stockage de carbone dans les sols et de diminuer la pollution par les pesticides.<br/>
                        Est-il possible de proposer un t-shirt fabriqué en France ?<br/>
                        Nous décidons de relever ce défi : Concevoir u t-shirt Proprement, en plaçant l'éthique au coeur de notre démarche.
                    </p>
                    <p>
                        Un t-shirt conçu proprement, c'est un t-shirt <strong>Made in France</strong>.<br/>
                        Les distances entre les artisans sont optimisées et favorisent le respect de l'environnement.<br/>
                        Bien loin des 48.000km, le t-shirt Unison parcourt environ 3.000km avant d'arriver sur vos épaules.<br/>
                        Un impact environnemental lié au transport réduit de 94%!
                    </p>
                    <p>
                        Choisir le <strong>Made in France</strong>,<br/>
                        C'est aussi refuser d'exploiter la misère du monde pour s'offrir des biens de consommation au prix le plus bas.<br/>
                        C'est choisir de consommer moins, mais mieux !
                    </p>
                </div>
                <div class="illustration">
                    <img src="../images/about_us/france.png">
                </div>
            </div>
        {% endblock %}
    </div>
{% endblock %}