.carousel .carousel-item {
    width: 350px;
    height: 350px;
    box-sizing: border-box !important;
    padding: 10px 20px !important;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6 !important;
}

.carousel-item.active {
    background-color: #43b5cd !important;
    opacity: 1 !important;
}

.carousel-item>img {
    object-fit: cover;
    -o-object-fit: cover;
}

.description {
    padding: 3em 1em 1em 1em;
}

.description-title {
    text-align: center;
}

.description>p+p {
    margin-top: 1em;
}

a.button.blue {
    height: 50px;
}

a.button.blue.visit {
    position: absolute;
    right: 2em;
}

.hidden-text {
    display: none;
}

.marged {
    margin-top: 64px;
}

@media only screen and (max-width: 1000px) {
    a.button.blue {
        width: 100%;
    }
}