/* page layout */

/* space content from header */

/* should be put in the grid.css because it is obviously a useful class for the grid system */

.row .col.away-from-header {
    margin-top: 64px;
}

.row .col.away-from-side {
    padding-left: 4%;
    padding-right: 4%
}

/* description of association */

.description {
    padding: 1em 2em 1em 2em;
}

.description-title {
    text-align: center;
}

/* p html tag with a sibling important to space them for readibility */

.description>p+p {
    margin-top: 1em;
}

/* external link style */

a.button.blue.visit {
    height: 50px;
    width: 100%;
    border-radius: 0%;
}

/* important to hide unneeded text (is needed for the js to work) */

.hidden-text {
    display: none;
}

/* carousel style  */

/* carousel item style */

.carousel .carousel-item {
    width: 350px;
    height: 350px;
    box-sizing: border-box !important;
    padding: 10px 20px !important;
    background-color: rgba(128, 128, 128, 0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.6 !important;
}

/* inner image */

.carousel-item>img {
    object-fit: cover;
    -o-object-fit: cover;
}

/* active */

.carousel-item.active {
    background-color: #43b5cd !important;
    opacity: 1 !important;
}