html {
    font-family: 'sans-serif';
}

body {

}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #43B5CD;
    font-family: Roboto;
    color: black;
    height: 74px;
    width: 100%;
}

.header .headera {
    display: flex;
    align-self: flex-start;
    justify-content: flex-start;
    width: 33%;
    height: 100%;
}

.header .headerb {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 33%;
    height: 50%;
}
/*
.header .headerb {
    display: flex;
    align-self: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}
*/
.header .headerc {
    display: flex;
    color: black;
    align-self: flex-end;
    align-items: center;
    justify-content: flex-end;
    width: 33%;
    height:100%;
}
/*
.header .headera .logo-pic{
    display: flex;
    align-self: flex-start;
    height: 74px;
    width: 74px;
}
*/
.header .headera .logo{
    display: flex;
    font-family: GoodDog;
    color: white;
    align-self: center;
    font-size: 55px;
    height: 100%;
    width: 25%;
    margin-left: 10%;
}

.header .headerc .login {
    display: flex;
    color: black;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    width: 33%;
    height: 100%;
}

.header .headerc .basket {
    display: flex;
    color: black;
    justify-content: center;
    align-self: flex-end;
    align-items: center;
    width: 33%;
    height: 100%;
}

.header2 {
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-around;
    font-family: Roboto;
    font-size: large;
    color: black;
    height: 64px;
    width: 100%;
}

.header2 .articles {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20%;
    height:100%;
}

.header2 .associations {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20%;
    height:100%;
}

.header2 .learnmore {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20%;
    height:100%;
}

.header2 .register {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20%;
    height:100%;
}


.header2 .contact {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    width: 20%;
    height:100%;
}