{% extends "base.html.twig" %}

{% block body %}
    <div class="container">
        <div class="row">
            {% for article in articles  %}
                {% dump(article) %}
                <div class="col-12 col-md-4">
                    <p>{{ article.name }}</p>
                    <p>{{ article.price }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock %}