<footer>
    <div class="upper-footer">
        <ul>
            <li>
                <a href="">
                    CGU
                </a>
            </li>
            <li>
                <a href="">
                    CGV
                </a>
            </li>
            <li>
                <a href="">
                    Cookies
                </a>
            </li>
            <li>
                <a href="">
                    Mentions légales
                </a>
            </li>
            <li>
                <a href="">
                    Politique de protection des données
                </a>
            </li>
            <li>
                <a href="">
                    Livraison et retour
                </a>
            </li>
            <li>
                <a href="">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="lower-footer">
        <div style='justify-content: flex-start;'>
            &copy; UNISON &mdash; 2020
        </div>
        <div class="social">
            <a class="icon"><img src="../images/icones-transp/icone-social0.png"></a>
            <a class="icon"><img src="../images/icones-transp/icone-social1.png"></a>
            <a class="icon"><img src="../images/icones-transp/icone-social2.png"></a>
        </div>
        <div style='justify-content: flex-end;'>
            <a class="logo">UNISON</a>
        </div>
    </div>
</footer>