body {
    padding-left: 40px;
    padding-right: 20px;
    padding-top: 20px;
}

.container {
    width:90%;
    min-height: 90vh;
    margin: 0 auto;
    display: flex;
    flex-direction: row ;
    justify-content: space-between;
}

.link {
    background-color: red;
    min-width: 300px;
    width: 25%;
    margin-right: 2%;
}

.grid {
    width: 70%;
    background-color: green;
}

.grid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.row {}