{% macro big_button(src, description) %}
<div class="button big full black">
    <div class="top">
        <img src="../images/{{src}}"></img>
    </div>
    <div class="description">
        {{description}}
    </div>
</div>
{% endmacro big_button %}